mixin icon(label, link, icon, target, tooltip)
  - var t = icon.indexOf("screenshots/") === -1 ? "" : "big";
  - var w = t === "big" ? 160 : 96;
  li(am-icon=t)
    a(href=link||'javascript:void(0)', target=target, title=tooltip)
      img(alt="icon", src="images/icons/#{icon || 'work'}.png", width=w)
      = label
mixin link(label, link, icon, tooltip)
  +icon(label, link, icon||"link", "_blank", tooltip)

mixin projectFolder(title, tag, danish)
  section(id=tag+"-projects")
    h1= title
    ul
      for p in projects
        - description = lang === "da" ? p.da_description : p.description
        if p.tags.indexOf(tag) > -1
          +link(p.title, p.url, "screenshots/160xp/"+p.screenshot, description)
